body{
	margin:0px;
	padding:0px;

	ul{
		margin: 0 0 0 0;
		padding:0 0 0 0;
		width: 100%;
		background-color: #706A0C;
		font-size: 	14px;

		>li{
			color: #FFFFFF;
			display: inline;
			background-color: #655F0C;
			margin: 0px 1px 0px 1px;
			padding: 0px 3px 0px 2px;
			background-size: auto;
			border-right: 2px solid black;
			&:last-child{
				border-right: none;
			}
			
			>a{
				text-decoration: none;
				color: white;
				&:hover{
					background-color: #9D9611;
				}
				&:active{
					color: black;
				}
			}
		}
	}
}
